src/Equias/EFET-eCM-4.0.1-schemas/EFET-CNF-V4R0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ecc="http://www.efet.org/schemas/eCM/V4R0/EFET-CoreCmpts-V4R0.xsd" elementFormDefault="qualified">
    <xsd:import namespace="http://www.efet.org/schemas/eCM/V4R0/EFET-CoreCmpts-V4R0.xsd" schemaLocation="EFET-CoreCmpts-V4R0.xsd"/>
    <xsd:include schemaLocation="EFET-CoreElements-V4R0.xsd"/>
    
    <xsd:element name="TradeConfirmation">
        <xsd:annotation>
            <xsd:documentation>Object used for the transmission of trade confirmations between traders or matching service providers.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:sequence>
                    <xsd:group ref="DocumentHeader"/>
                    <xsd:element name="DocumentVersion" type="ecc:VersionType">
                        <xsd:annotation>
                            <xsd:documentation>Version of the document being sent. A document may be sent several times with the same identification. The version is used to distinguish one instance of the same document from another with the same identification.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="Market" type="ecc:CountryCodeType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>The identification of the market where the commodity is traded. The market generally corresponds to a country except where there are regional practises within the country.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="Commodity" type="ecc:EnergyProductType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>The identification of the nature of an energy product such as power, energy, reactive power, etc.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="TransactionType" type="ecc:TransactionType">
                        <xsd:annotation>
                            <xsd:documentation>The transaction type describes the principal characteristic of a trade.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="DeliveryPointArea" type="ecc:AreaType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>The area (hub) where the delivery is being made.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="BuyerParty" type="ecc:PartyType">
                        <xsd:annotation>
                            <xsd:documentation>The party that is buying the commodity.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="SellerParty" type="ecc:PartyType">
                        <xsd:annotation>
                            <xsd:documentation>The party that is selling the commodity.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="LoadType" type="ecc:ContractType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>The load type defines the conditions under whichenergy is purchased, allocated and handled.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="Agreement" type="ecc:AgreementType">
                        <xsd:annotation>
                            <xsd:documentation>The identification of an agreement between two parties.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="Currency" type="ecc:CurrencyCodeTypeWithFractionOption" />
                    <xsd:element name="TotalVolume" type="ecc:QuantityType">
                        <xsd:annotation>
                            <xsd:documentation>The total volume of a commodity that has been negociated in the transaction.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="TotalVolumeUnit" type="ecc:UnitOfMeasureType">
                        <xsd:annotation>
                            <xsd:documentation>The unit of measure that is in which the total volume is expressed. The measurement units shall be in compliance with UN/ECE Recommendation 20.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="TradeDate" type="ecc:DateType">
                        <xsd:annotation>
                            <xsd:documentation>The date that the transaction was concluded. It must be expressed in local time.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="CapacityUnit" type="ecc:UnitOfMeasureType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>The unit of measure that is in which capacity is expressed. The measurement units shall be in compliance with UN/ECE Recommendation 20.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="PriceUnit" minOccurs="0">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="Currency" type="ecc:CurrencyCodeTypeWithFractionOption" />
                                <xsd:element name="CapacityUnit" type="ecc:UnitOfMeasureType" />
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="TimeIntervalQuantities" minOccurs="0">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="TimeIntervalQuantity" maxOccurs="unbounded">
                                    <xsd:annotation>
                                        <xsd:documentation>The traded quantities and prices per period.</xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:complexType>
                                        <xsd:sequence>
                                            <xsd:element name="DeliveryStartDateAndTime" type="ecc:ClockDateTimeType">
                                                <xsd:annotation>
                                                    <xsd:documentation>The start date and time of the time interval for which the contract capacity contract applies. The time of the start of the period is expressed in local time as: YYYY-MM-DDTHH:MM:SS.</xsd:documentation>
                                                </xsd:annotation>
                                            </xsd:element>
                                            <xsd:element name="DeliveryEndDateAndTime" type="ecc:ClockDateTimeType">
                                                <xsd:annotation>
                                                    <xsd:documentation>The end date and time of the time interval for which the contract capacity contract applies. The time of the end of the period is expressed in local time as: YYYY-MM-DDTHH:MM:SS.</xsd:documentation>
                                                </xsd:annotation>
                                            </xsd:element>
                                            <xsd:element name="ContractCapacity" type="ecc:QuantityType">
                                                <xsd:annotation>
                                                    <xsd:documentation>The contract capacity quantity of the commodity traded for the time interval in question. Positive quantities shall not have a sign.</xsd:documentation>
                                                </xsd:annotation>
                                            </xsd:element>
                                            <xsd:element name="Price" type="ecc:PriceType" minOccurs="0">
                                                <xsd:annotation>
                                                    <xsd:documentation>The price per unit of volume.</xsd:documentation>
                                                </xsd:annotation>
                                            </xsd:element>
                                            <xsd:element name="PaymentEvent" type="ecc:PaymentEventType" minOccurs="0"/>
                                            <xsd:element name="PaymentEventOffset" type="ecc:QuantityType" minOccurs="0"/>
                                        </xsd:sequence>
                                    </xsd:complexType>
                                </xsd:element>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                    <xsd:element ref="FixedPriceInformation" minOccurs="0"/>
                    <xsd:choice>
                        <xsd:element name="TotalContractValue" type="ecc:PriceType"/>
                        <xsd:element name="FloatPriceInformation" maxOccurs="2">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="FloatPricePayer" type="ecc:PartyType"/>
                                    <xsd:element name="FormulaID" type="ecc:IdentificationType" minOccurs="0"/>
                                    <xsd:element name="FormulaSpreadInformation" minOccurs="0">
                                        <xsd:complexType>
                                            <xsd:sequence>
                                                <xsd:element name="SpreadPayer" type="ecc:PartyType"/>
                                                <xsd:element name="SpreadAmount" type="ecc:PriceType"/>
                                                <xsd:element name="SpreadCurrencyUnit" type="ecc:CurrencyCodeType" minOccurs="0"/>
                                                <xsd:element ref="FXInformation" minOccurs="0"/>
                                            </xsd:sequence>
                                        </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element name="CommodityReferences" minOccurs="0">
                                        <xsd:complexType>
                                            <xsd:sequence>
                                                <xsd:element name="CommodityReference" maxOccurs="unbounded">
                                                    <xsd:complexType>
                                                        <xsd:sequence>
                                                            <xsd:element name="CommodityReferencePrice" type="ecc:ISDACommodityDefinitionsType"/>
                                                            <xsd:element name="IndexCommodity" type="ecc:IndexCommodityType"/>
                                                            <xsd:element name="IndexCurrencyUnit" type="ecc:CurrencyCodeType"/>
                                                            <xsd:element name="IndexCapacityUnit" type="ecc:UnitOfMeasureType"/>
                                                            <xsd:element name="SpecifiedPrice" type="ecc:SpecifiedPriceType"/>
                                                            <xsd:element name="Factor" type="ecc:QuantityType"/>
                                                            <xsd:element name="DeliveryDate" type="ecc:DeliveryDateType"/>
                                                            <xsd:element name="Multiplier" type="ecc:QuantityType" minOccurs="0"/>
                                                            <xsd:element name="PricingDate" type="ecc:PricingDateType" minOccurs="0"/>
                                                            <xsd:element name="IndexCap" type="ecc:PriceType" minOccurs="0"/>
                                                            <xsd:element name="IndexFloor" type="ecc:PriceType" minOccurs="0"/>
                                                            <xsd:element name="CRCapacityConversionRate" type="ecc:QuantityType" minOccurs="0"/>
                                                            <xsd:element name="PhysicalIndexPricingDates" minOccurs="0">
                                                                <xsd:complexType>
                                                                    <xsd:sequence>
                                                                        <xsd:element name="PIPricingDate" type="ecc:DateType" maxOccurs="unbounded"/>
                                                                    </xsd:sequence>
                                                                </xsd:complexType>
                                                            </xsd:element>
                                                            <xsd:element ref="FXInformation" minOccurs="0"/>
                                                            <xsd:element name="SpreadInformation" minOccurs="0">
                                                                <xsd:complexType>
                                                                    <xsd:sequence>
                                                                        <xsd:element name="SpreadPayer" type="ecc:PartyType"/>
                                                                        <xsd:element name="SpreadAmount" type="ecc:PriceType"/>
                                                                        <xsd:element name="SpreadCurrencyUnit" type="ecc:CurrencyCodeType" minOccurs="0"/>
                                                                        <xsd:element ref="FXInformation" minOccurs="0"/>
                                                                    </xsd:sequence>
                                                                </xsd:complexType>
                                                            </xsd:element>
                                                            <xsd:element name="CalculationPeriods" minOccurs="0">
                                                                <xsd:complexType>
                                                                    <xsd:sequence>
                                                                        <xsd:element name="CalculationPeriod" maxOccurs="unbounded">
                                                                            <xsd:complexType>
                                                                                <xsd:sequence>
                                                                                    <xsd:element name="StartDate" type="ecc:DateType"/>
                                                                                    <xsd:element name="EndDate" type="ecc:DateType"/>
                                                                                </xsd:sequence>
                                                                            </xsd:complexType>
                                                                        </xsd:element>
                                                                    </xsd:sequence>
                                                                </xsd:complexType>
                                                            </xsd:element>
                                                            <xsd:element name="PricingFXPeriods" minOccurs="0">
                                                                <xsd:complexType>
                                                                    <xsd:sequence>
                                                                        <xsd:element name="PricingFXPeriod" maxOccurs="unbounded">
                                                                            <xsd:complexType>
                                                                                <xsd:sequence>
                                                                                    <xsd:element name="StartDate" type="ecc:DateType"/>
                                                                                    <xsd:element name="EndDate" type="ecc:DateType"/>
                                                                                </xsd:sequence>
                                                                            </xsd:complexType>
                                                                        </xsd:element>
                                                                    </xsd:sequence>
                                                                </xsd:complexType>
                                                            </xsd:element>
                                                        </xsd:sequence>
                                                    </xsd:complexType>
                                                </xsd:element>
                                            </xsd:sequence>
                                        </xsd:complexType>
                                    </xsd:element>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:choice>
                    <xsd:element ref="Rounding" minOccurs="0"/>
                    <xsd:element ref="CommonPricing" minOccurs="0"/>
                    <xsd:element ref="OrderNumber" minOccurs="0"/>
                    <xsd:element ref="EffectiveDate" minOccurs="0"/>
                    <xsd:element ref="TerminationDate" minOccurs="0"/>
                    <xsd:element name="EUATradeDetails" minOccurs="0">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="Price" type="ecc:PriceType" minOccurs="0"/>
                                <xsd:element name="EmissionsDeliveryDate" type="ecc:DateType"/>
                                <xsd:element name="BuyerDeliveryAccount" type="ecc:EUAAccountCodeType" minOccurs="0"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="PhysicalCoalTradeDetails" minOccurs="0">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="RSS" type="ecc:RSSType"/>
                                <xsd:element name="Origin" type="ecc:ScotaOriginType"/>
                                <xsd:element name="Incoterms" type="ecc:IncotermsType"/>
                                <xsd:element name="Tolerance" type="ecc:QuantityType"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="HubCodificationInformation" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Gas hub network mandatory information.</xsd:documentation>
                        </xsd:annotation>
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="BuyerHubCode" type="ecc:IdentificationType">
                                    <xsd:annotation>
                                        <xsd:documentation>Identification of a buyer using the hub network coding scheme.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="SellerHubCode" type="ecc:IdentificationType">
                                    <xsd:annotation>
                                        <xsd:documentation>Identification of a seller using the hub network coding scheme.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:element>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="AccountAndChargeInformation" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Account and charge information only used in the England and Wales power market.</xsd:documentation>
                        </xsd:annotation>
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="SellerEnergyAccountIdentification" type="ecc:IdentificationType">
                                    <xsd:annotation>
                                        <xsd:documentation>Identification if a seller consumption or production account.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="BuyerEnergyAccountIdentification" type="ecc:IdentificationType">
                                    <xsd:annotation>
                                        <xsd:documentation>Identification if a buyer consumption or production account.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="NotificationAgent" type="ecc:PartyType" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:documentation>The identification of the party responsible for notifying the transaction to the ECVAA.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="TransmissionChargeIdentification" type="ecc:IdentificationType">
                                    <xsd:annotation>
                                        <xsd:documentation>Identification of how transmission charges are allocated.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:element>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="OptionDetails" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>The information defining the nature and exercise dates for an option.</xsd:documentation>
                        </xsd:annotation>
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="OptionsType" type="ecc:OptionType">
                                    <xsd:annotation>
                                        <xsd:documentation>The type of option being used.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="OptionWriter" type="ecc:PartyType"/>
                                <xsd:element name="OptionHolder" type="ecc:PartyType"/>
                                <xsd:element name="OptionStyle" type="ecc:OptionStyleType"/>
                                <xsd:element name="StrikePrice" type="ecc:PriceType" minOccurs="1"/>
                                <xsd:element name="IndexStrikePriceStyle" type="ecc:IndexStrikePriceStyleType" minOccurs="0"/>
                                <xsd:element name="SecondStrikePrice" type="ecc:PriceType" minOccurs="0"/>
                                <xsd:element name="CappedPrice" type="ecc:PriceType" minOccurs="0"/>
                                <xsd:element name="FlooredPrice" type="ecc:PriceType" minOccurs="0"/>
                                <xsd:element name="OptionCurrency" type="ecc:CurrencyCodeType" minOccurs="0"/>
                                <xsd:element name="PremiumRate" type="ecc:PriceType" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:documentation>The rate used to calculate the premium.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="PremiumCurrency" type="ecc:CurrencyCodeType">
                                    <xsd:annotation>
                                        <xsd:documentation>The identification of the currency of the premium.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="PremiumUnit" minOccurs="0">
                                    <xsd:complexType>
                                        <xsd:sequence>
                                            <xsd:element name="Currency" type="ecc:CurrencyCodeType" />
                                            <xsd:element name="Capacity" type="ecc:UnitOfMeasureType"/>
                                        </xsd:sequence>
                                    </xsd:complexType>
                                </xsd:element>
                                <xsd:element name="TotalPremiumValue" type="ecc:PriceType">
                                    <xsd:annotation>
                                        <xsd:documentation>The total amount of the premium.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="PremiumPaymentDate" type="ecc:DateType" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:documentation>The date that the transaction was concluded. It must be expressed in local time.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="ExerciseDateTime" type="ecc:ClockDateTimeType" minOccurs="0"/>
                                <xsd:element name="AutomaticExercise" type="ecc:TrueFalseType" minOccurs="0"/>
                                <xsd:element name="EarlyExercise" type="ecc:TrueFalseType" minOccurs="0"/>
                                <xsd:element name="WrittenConfirmationOfExercise" type="ecc:TrueFalseType" minOccurs="0"/>
                                <xsd:element name="CashSettlement" type="ecc:TrueFalseType" minOccurs="0"/>
                                <xsd:element name="PremiumPayments" minOccurs="0">
                                    <xsd:complexType>
                                        <xsd:sequence>
                                            <xsd:element name="PremiumPayment" maxOccurs="unbounded">
                                                <xsd:complexType>
                                                    <xsd:sequence>
                                                        <xsd:element name="PremiumPaymentDate" type="ecc:DateType"/>
                                                        <xsd:element name="PremiumPaymentValue" type="ecc:PriceType"/>
                                                    </xsd:sequence>
                                                </xsd:complexType>
                                            </xsd:element>
                                        </xsd:sequence>
                                    </xsd:complexType>
                                </xsd:element>
                                <xsd:element name="ExerciseSchedule" minOccurs="0">
                                    <xsd:complexType>
                                        <xsd:sequence>
                                            <xsd:element name="Exercise" maxOccurs="unbounded">
                                                <xsd:complexType>
                                                    <xsd:sequence>
                                                        <xsd:element name="DeliveryStartDateTime" type="ecc:ClockDateTimeType" minOccurs="0"/>
                                                        <xsd:element name="DeliveryEndDateTime" type="ecc:ClockDateTimeType" minOccurs="0"/>
                                                        <xsd:element name="ExerciseDateTime" type="ecc:ClockDateTimeType" minOccurs="1"/>
                                                        <xsd:element name="ExerciseTimeZone" type="ecc:TimeZoneOffsetType" minOccurs="0"/>
                                                    </xsd:sequence>
                                                </xsd:complexType>
                                            </xsd:element>
                                        </xsd:sequence>
                                    </xsd:complexType>
                                </xsd:element>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="DeliveryPeriods" minOccurs="0">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="DeliveryPeriod" maxOccurs="unbounded">
                                    <xsd:complexType>
                                        <xsd:sequence>
                                            <xsd:element name="DeliveryPeriodStartDate" type="ecc:DateType"/>
                                            <xsd:element name="DeliveryPeriodEndDate" type="ecc:DateType"/>
                                            <xsd:element name="DeliveryPeriodNotionalQuantity" type="ecc:QuantityType"/>
                                            <xsd:element name="PaymentDate" type="ecc:DateType"/>
                                            <xsd:element name="FixedPrice" type="ecc:PriceType" minOccurs="0"/>
                                        </xsd:sequence>
                                    </xsd:complexType>
                                </xsd:element>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="Agents" minOccurs="0">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="Agent" maxOccurs="unbounded">
                                    <xsd:complexType>
                                        <xsd:sequence>
                                            <xsd:element name="AgentType" type="ecc:AgentType"/>
                                            <xsd:element name="AgentName" type="ecc:NameType" minOccurs="0"/>
                                            <xsd:choice>
                                                <xsd:element name="Broker">
                                                    <xsd:complexType>
                                                        <xsd:sequence>
                                                            <xsd:element name="BrokerID" type="ecc:BrokerIDType"/>
                                                        </xsd:sequence>
                                                    </xsd:complexType>
                                                </xsd:element>
                                                <xsd:element name="ECVNA">
                                                    <xsd:complexType>
                                                        <xsd:sequence>
                                                            <xsd:element name="BSCPartyID" type="ecc:BSCPartyIDType"/>
                                                            <xsd:element name="BuyerEnergyAccount" type="ecc:EnergyAccountType"/>
                                                            <xsd:element name="SellerEnergyAccount" type="ecc:EnergyAccountType"/>
                                                            <xsd:element name="SellerID" type="ecc:BSCPartyIDType"/>
                                                            <xsd:element name="BuyerID" type="ecc:BSCPartyIDType"/>
                                                        </xsd:sequence>
                                                    </xsd:complexType>
                                                </xsd:element>
                                            </xsd:choice>
                                        </xsd:sequence>
                                    </xsd:complexType>
                                </xsd:element>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="TradeTime" type="ecc:TimeType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>The time that the transaction was concluded. It must be expressed in local time.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="TraderName" type="ecc:NameType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>The specific name of the person that concluded the transaction.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:sequence>
            <xsd:attributeGroup ref="ecc:SchemaDescription"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>